<div id="foot">
		<div class="top">
		<p>
		<a href="http://www.91guoxin.com/declare.html" rel="nofollow">隐私申明</a>|
		<a href="http://www.91guoxin.com/about/suggest.html" rel="nofollow">投诉建议</a>|
		<a href="http://www.91guoxin.com/question/" rel="nofollow">帮助中心</a>|
		<a href="http://www.91guoxin.com/about/contact.html" rel="nofollow">联系我们</a>|
		<a href="http://www.91guoxin.com/sitemap.html">网站地图</a>
		</p>
		</div>
		<div class="content">
		<p>版权所有 © 2016 深圳国鑫金服网络集团有限公司 粤ICP备10661711号-1<br>风险提示：我们提供的现货产品保证金交易，在交易时存在较大的亏损风险。这些产品不一定适合每一位投资者，请确保您完全了解所涉及的风险。<br>                本站内容仅供参考，非操作建议，请您自行决策交易。</p>
		</div>
		<div class="dot clerafix">
		<a href="http://www.sz-jc.gov.cn/wsjb/" target="_blank" rel="nofollow"><img src="/assets/images/foot/jflive_bg_ft1.png" alt="" class="lazy"></a>
		<a href="http://61.144.227.239:9002/" target="_blank" rel="nofollow"><img src="/assets/images/foot/jflive_bg_ft2.png" alt="" class="lazy" ></a>
		<a href="http://www.anquan.org/authenticate/cert/?site=www.91guoxin.com&amp;at=business" target="_blank" rel="nofollow"><img src="/assets/images/foot/jflive_bg_ft3.png" alt="" class="lazy" data-original="src/images/jflive_bg_ft3.png"></a>
		</div>
</div>
