<div id="header" ng-controller="headCtrl">
	<div class="w1300 center clear">
		<div class="jflive_logo left">
			<a href="http://www.91guoxin.com" target="_blank">
				<img alt="logo" src="/assets/images/head/jflive_logo.png"></a>
		</div>
		<div class="online left">
			<span id="userCount" ng-bind="live.info.online"></span>
			在线
		</div>
		<div class="hot_num left">
			<a href="http://www.91guoxin.com/online.html" title="400-699-9225" target="_blank">
				<img alt="tel" src="/assets/images/head/jflive_gx.png"></a>
		</div>
		<div class="user_btns right clear" id="navTab">
			<span class="user_name left">欢迎您：<span ng-bind="live.user.name"></span></span>
			<a href="index.aspx" class="dsk left">保存至桌面</a>
			<a class="pho left">
				手机看直播
				<span class="ewm" style="display: none;"> <em></em>
					<img alt="扫码看直播" src="/assets/images/head/jflive_phoewm.jpg"></span>
			</a>
			<a href="javascript:void(0);" class="u_center left userLogin" ng-click="login()" ng-if="live.user.role == -1">用户登录</a>
			<a href="https://me.91guoxin.com/login.html" target="_blank" class="u_center left userCenter" style="display:none">个人中心</a>
			<a href="javascript:void(0);" class="quit left userRegister"  ng-click="signup()" ng-if="live.user.role == -1">注册享福利</a>
			<a href="javascript:void(0);" class="safe_op left">安全开户</a>
			<a href="javascript:void(0);" class="quit2 left userQuit" ng-click="logout()" ng-if="live.user.role != -1">退出</a>
		</div>
	</div>
</div>