<div id="live">
	<div class="w1300">
		<div class="live_left"></div>
		<div class="live_middle"></div>
		<div class="live_right" ng-controller="ChatCtrl">
			<div class="notice">
				<marquee direction="left" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">欢迎光临国鑫金服视频直播室！投资有风险，入市需谨慎，本直播室嘉宾的策略仅为个人观点，仅供参考！</marquee>
			</div>
			<div class="live_talk">
				<div class="chat" ng-scrollbars ng-scrollbars-update="updateScrollbar">
					<ul>
						<li class="item" ng-repeat="v in ::chat.list">
							<span class="time" ng-bind="v.time"></span>
							<span class="icon">
								<img ng-src="/assets/images/icons/level/{{v.icon}}"  title="{{v.as}}"height="18"></span>
							<span class="name" ng-bind="v.name"></span>
							<span class="to" ng-bind="v.to" ng-if="v.to"></span>
							<span class="text" ng-bind-html="v.content"></span>
						</li>
					</ul>
				</div>
				<div class="edit">
					<input type="text" class="content">
					<a class="send" ng-click="send()">发送</a>
				</div>
			</div>
		</div>
	</div>
</div>