﻿﻿﻿﻿﻿﻿﻿﻿﻿<div id="jflive_wrap" class="w1300 center">
	<!--team-->
	<div class="jflive_title martm24">
		<div class="jflive_title_left left">
			<span>
				<em><img src="/assets/images/team/jflive_bg_t1.png" class="lazy"></em>
				导师战队
			</span>
		</div>
	</div>
	<div class="jflive_teachers clear">
		<div class="jflive_teachers_con clear">
			<span class="teachers left">
				<a href="tutor.html" target="_black">
					<img src="/assets/images/team/jflive_zdui_dshd1.png"></a>
			</span>
			<dl>
				<dt>
					<img src="/assets/images/team/jflive_zdui_ds.png">
				</dt>
				<dd class="dd2" code="dszd" name="鼎盛战队">
					<span class="sp2">加入粉丝团</span>
					<span class="sp3">569人已加</span>
				</dd>
				<dd class="dd1">
					<span class="t">交易风格：</span>
					<p class="c">直击白银，绝杀贵金属</p>
					<span class="t">盈利能力：</span>
					<div class="bar">
						<div style="width: 95%;">
							<span>95/100</span>
						</div>
						<p class="ed_tip2" style="opacity: 1;display:none;">
							盈利能力由上周已平仓即时建议准确率（权重0.6）以及发布次数（权重0.4）综合评定
						</p>
					</div>
					<span class="t">魅力值：</span>
					<span class="mlz" code="1111">+6719</span>
					<div class="ed_tip" style="display:none"><i></i></div>
					<span class="addml cor1">加魅力给TA</span>
				</dd>
			</dl>
			<div class="clear"> </div>
		</div>
		<div class="jflive_teachers_con clear">
			<span class="teachers left">
				<a href="tutor.html" target="_black">
					<img src="/assets/images/team/jflive_zdui_ldhd1.png"></a>
			</span>
			<dl>
				<dt>
					<img src="/assets/images/team/jflive_zdui_ld.png">
				</dt>
				<dd class="dd2" code="flzd" name="风林战队">
					<span class="sp2">加入粉丝团</span>
					<span class="sp3">157人已加</span></dd>
				<dd class="dd1">
					<span class="t">交易风格：</span>
					<p class="c">原油小王子，狙击EIA</p>
					<span class="t">盈利能力：</span>
					<div class="bar">
						<div style="width: 90%;"><span>90/100</span></div>
						<p class="ed_tip2" style="opacity: 1; display: none;">盈利能力由上周已平仓即时建议准确率（权重0.6）以及发布次数（权重0.4）综合评定</p>
					</div> <span class="t">魅力值：</span>
					<span class="mlz" code="3333">+3813</span>
					<div class="ed_tip" style="display:none"><i></i></div>
					<span class="addml cor1">加魅力给TA</span>
				</dd>
			</dl>
			<div class="clear"></div>
		</div>
		<div class="jflive_teachers_con clear">
			<span class="teachers left">
				<a href="tutor.html" target="_black">
					<img src="/assets/images/team/jflive_zdui_dfhd1.png"></a>
			</span>
			<dl>
				<dt>
					<img src="/assets/images/team/jflive_zdui_df.png">
				</dt>
				<dd class="dd2" code="dfzd" name="巅峰战队">
					<span class="sp2">加入粉丝团</span>
					<span class="sp3">540人已加</span>
				</dd>
				<dd class="dd1">
					<span class="t">交易风格：</span>
					<p class="c">赢在巅峰，最爱银油铜</p>
					<span class="t">盈利能力：</span>
					<div class="bar">
						<div style="width: 90%;">
							<span>90/100</span>
						</div>
						<p class="ed_tip2" style="opacity:1;display:none">盈利能力由上周已平仓即时建议准确率（权重0.6）以及发布次数（权重0.4）综合评定</p>
					</div>
					<span class="t">魅力值：</span>
					<span class="mlz" code="2222">+5905</span>
					<div class="ed_tip" style="display:none"><i></i></div>
					<span class="addml cor1">加魅力给TA</span>
				</dd>
			</dl>
			<div class="clear"> </div>
		</div>
		<div class="clear"></div>
	</div>
	<!--team_end-->
	<!--activity-->
	<div class="jflive_title martm24">
		<div class="jflive_title_left left">
	         <span>
	              <em>
					  <img src="/assets/images/activity/jflive_bg_t2.png" class="lazy">
	              </em>
	         活动专题
	         </span>
		</div>
		<div class="jflive_title_right right"></div>
	</div>
	<div class="jflive_activity">
		<dl class="mar33 left">
			<a href="https://www.91guoxin.com/special/znhd" target="_blank">
				<img src="/assets/images/activity/jflive_act11.jpg" class="lazy">
			</a>
			<dd>
				<p id="market1">状态：还有3天结束</p>
			</dd>
		</dl>
		<dl class="mar33 left">
			<a href="https://www.91guoxin.com/special/jackson_hole" target="_blank">
				<img src="/assets/images/activity/jflive_act51.jpg" class="lazy">
			</a>
			<dd>
				<p id="market3">状态：还有10天结束</p>
			</dd>
		</dl>
		<dl class="mar33 left">
			<a href="https://www.91guoxin.com/special/eiayjbg.html" target="_blank">
				<img src="/assets/images/activity/jflive_act4.jpg" class="lazy">
			</a>
			<dd>
				<p>                        状态：进行中</p>
			</dd>
		</dl>
		<dl class="mar33 left">
			<a href="https://www.91guoxin.com/question/trade/56708.html " target="_blank">
				<img src="/assets/images/activity/jflive_act0805.jpg" class="lazy">
			</a>
			<dd>
				<p id="market5">状态：已结束</p>
			</dd>
		</dl>
		<dl class="right">
			<a href="http://act.91guoxin.com/fiveth/" target="_blank">
				<img src="/assets/images/activity/jflive_act41.jpg" class="lazy">
			</a>
			<dd>
				<p id="market4">状态：已结束</p>
			</dd>
		</dl>
	</div>
	<!--activity_end-->
	<!--class-->
	<div class="jflive_title martm24">
		<div class="jflive_title_left left">
			<span>
				<em>
					<img src="/assets/images/class/jflive_bg_t3.png" class="lazy">
				</em>
				投资课堂
			</span>
		</div>
		<div class="jflive_title_right right">
			<a target="_blank" href="https://www.91guoxin.com/study/video/tech/">&gt; 学习更多</a>
		</div>
	</div>
	<div class="jflive_activity">
		<dl class="mar33 left">
			<dt>新手入门</dt>
			<a onclick="app.investment('4001', 'https://www.91guoxin.com/news/50977.html', this);" href="javascript:void(0)">
				<img src="/assets/images/class/573c0745e39f9.jpg" class="lazy" data-original="src/images/573c0745e39f9.jpg">
			</a>
			<dd>
				播放次数：
				<span code="4001">1710</span>
			</dd>
		</dl>
		<dl class="mar33 left">
			<dt>新手入门</dt>
			<a onclick="app.investment('5001', 'https://www.91guoxin.com/news/50975.html', this);" href="javascript:void(0)">
				<img src="/assets/images/class/5735b057661ca.jpg" class="lazy">
			</a>
			<dd>
				播放次数：<span code="5001">2139</span>
			</dd>
		</dl>
		<dl class="mar33 left">
			<dt>技术面</dt>
			<a onclick="app.investment('6001', 'https://www.91guoxin.com/news/53239.html', this);" href="javascript:void(0)">
				<img src="/assets/images/class/575fab956856a.jpg" class="lazy" data-original="src/images/575fab956856a.jpg">
			</a>
			<dd>
				播放次数：<span code="6001">2196</span>
			</dd>
		</dl>
		<dl class="mar33 left">
			<dt>技术面</dt>
			<a onclick="app.investment('6002', 'https://www.91guoxin.com/news/53238.html', this);" href="javascript:void(0)">
				<img src="/assets/images/class/575fab4a1c850.jpg" class="lazy">
			</a>
			<dd>
				播放次数：<span code="6002">1641</span>
			</dd>
		</dl>
		<dl class="right">
			<dt>实战技巧</dt>
			<a onclick="app.investment('7001', 'https://www.91guoxin.com/news/52760.html', this);" href="javascript:void(0)">
				<img src="/assets/images/class/575697873f03a.jpg" class="lazy">
			</a>
			<dd>
				播放次数：<span code="7001">1789</span>
			</dd>
		</dl>
	</div>
	<!--class_end-->
	<!--review-->
	<div class="jflive_title martm24">
		<div class="jflive_title_left left">
			<span>
				<em>
					<img src="/assets/images/review/jflive_bg_t4.png" class="lazy">
				</em>
				精彩回顾
			</span>
		</div>
		<div class="jflive_title_right right">
			<a href="history/Default.aspx" target="_blank">
				&gt; 更多精彩
			</a>
		</div>
	</div>
	<div class="jflive_activity">
		<dl class="mar33 left">
			<a target="_black" href="history/play.aspx?ID=2387&amp;OwnerId=367e82e7bf944b0fb6f1ea62f7f0747e">
				<img src="/assets/images/review/1d1f81ca-b145-40ac-a56b-b9b06c202f01.jpg">
			</a>
			<dd>
				<p>主讲人：康琛</p>
				播放次数：<span>37</span>
			</dd>
		</dl>
		<dl class="mar33 left">
			<a target="_black" href="history/play.aspx?ID=2388&amp;OwnerId=b3d80d03ca6248b19212989704ee0a34">
				<img src="/assets/images/review/220367fe-51e1-44da-9871-acca13da39dc.jpg">
			</a>
			<dd>
				<p>主讲人：何英源</p>
				播放次数：<span>10</span>
			</dd>
		</dl>
		<dl class="mar33 left"> <a target="_black" href="history/play.aspx?ID=2391&amp;OwnerId=6e73de2e04fa40b592c7f48dca57064c">
			<img src="/assets/images/review/718d58b1-76d9-4b61-b895-e40603c63470.jpg">
		</a>
			<dd>
				<p>主讲人：郑立功</p>
				播放次数：<span>181</span>
			</dd>
		</dl>
		<dl class="mar33 left">
			<a target="_black" href="history/play.aspx?ID=2393&amp;OwnerId=e57c3d37475447e8b4d2d20bdf2d8d25">
				<img src="/assets/images/review/c5ad4c4c-5cc4-4189-9ad0-f09ea579ec89.jpg">
			</a>
			<dd>
				<p>主讲人：张保强、夏鹏宇</p>
				播放次数：<span>34</span>
			</dd>
		</dl>
		<dl class="left">
			<a target="_black" href="history/play.aspx?ID=2397&amp;OwnerId=a4f4f78e80654063861dea58a70289d8">
				<img src="/assets/images/review/32553fde-d289-4d86-b580-d9721f41419e.jpg">
			</a>
			<dd>
				<p>主讲人：康琛</p>
				播放次数：<span>8</span>
			</dd>
		</dl>
	</div>
	<!--review_end-->
</div>