﻿﻿﻿﻿﻿﻿<div id="jflive_wrap" class="w1300 center">
	<div class="jflive_title martm24">
		<div class="jflive_title_left left">
			<span>
				<em><img src="/assets/images/team/jflive_bg_t1.png" class="lazy"></em>
				导师战队
			</span>
		</div>
	</div>
	<div class="jflive_teachers clear">
		<div class="jflive_teachers_con clear">
			<span class="teachers left">
				<a href="tutor.html" target="_black">
					<img src="/assets/images/team/jflive_zdui_dshd1.png"></a>
			</span>
			<dl>
				<dt>
					<img src="/assets/images/team/jflive_zdui_ds.png">
				</dt>
				<dd class="dd2" code="dszd" name="鼎盛战队">
					<span class="sp2">加入粉丝团</span>
					<span class="sp3">569人已加</span>
				</dd>
				<dd class="dd1">
					<span class="t">交易风格：</span>
					<p class="c">直击白银，绝杀贵金属</p>
					<span class="t">盈利能力：</span>
					<div class="bar">
						<div style="width: 95%;">
							<span>95/100</span>
						</div>
						<p class="ed_tip2" style="opacity: 1;display:none;">
							盈利能力由上周已平仓即时建议准确率（权重0.6）以及发布次数（权重0.4）综合评定
						</p>
					</div>
					<span class="t">魅力值：</span>
					<span class="mlz" code="1111">+6719</span>
					<div class="ed_tip" style="display:none"><i></i></div>
					<span class="addml cor1">加魅力给TA</span>
				</dd>
			</dl>
			<div class="clear"> </div>
		</div>
		<div class="jflive_teachers_con clear">
			<span class="teachers left">
				<a href="tutor.html" target="_black">
					<img src="/assets/images/team/jflive_zdui_ldhd1.png"></a>
			</span>
			<dl>
				<dt>
					<img src="/assets/images/team/jflive_zdui_ld.png">
				</dt>
				<dd class="dd2" code="flzd" name="风林战队">
					<span class="sp2">加入粉丝团</span>
					<span class="sp3">157人已加</span></dd>
				<dd class="dd1">
					<span class="t">交易风格：</span>
					<p class="c">原油小王子，狙击EIA</p>
					<span class="t">盈利能力：</span>
					<div class="bar">
						<div style="width: 90%;"><span>90/100</span></div>
						<p class="ed_tip2" style="opacity: 1; display: none;">盈利能力由上周已平仓即时建议准确率（权重0.6）以及发布次数（权重0.4）综合评定</p>
					</div> <span class="t">魅力值：</span>
					<span class="mlz" code="3333">+3813</span>
					<div class="ed_tip" style="display:none"><i></i></div>
					<span class="addml cor1">加魅力给TA</span>
				</dd>
			</dl>
			<div class="clear"></div>
		</div>
		<div class="jflive_teachers_con clear">
			<span class="teachers left">
				<a href="tutor.html" target="_black">
					<img src="/assets/images/team/jflive_zdui_dfhd1.png"></a>
			</span>
			<dl>
				<dt>
					<img src="/assets/images/team/jflive_zdui_df.png">
				</dt>
				<dd class="dd2" code="dfzd" name="巅峰战队">
					<span class="sp2">加入粉丝团</span>
					<span class="sp3">540人已加</span>
				</dd>
				<dd class="dd1">
					<span class="t">交易风格：</span>
					<p class="c">赢在巅峰，最爱银油铜</p>
					<span class="t">盈利能力：</span>
					<div class="bar">
						<div style="width: 90%;">
							<span>90/100</span>
						</div>
						<p class="ed_tip2" style="opacity:1;display:none">盈利能力由上周已平仓即时建议准确率（权重0.6）以及发布次数（权重0.4）综合评定</p>
					</div>
					<span class="t">魅力值：</span>
					<span class="mlz" code="2222">+5905</span>
					<div class="ed_tip" style="display:none"><i></i></div>
					<span class="addml cor1">加魅力给TA</span>
				</dd>
			</dl>
			<div class="clear"> </div>
		</div>
		<div class="clear"></div>
	</div>
</div>