/*-------------   重置  ----------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,table,th,td,button{padding:0;margin:0;}
fieldset,img,button{border:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
caption,th,li,dt,dd,p{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;text-align:left;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none;outline:none;}

.clear:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
/* Hides from IE-mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* End hide from IE-mac */

button{cursor:pointer;}
em{font-style:normal;}

/*------------- 公用  ----------------------*/
body{font:14px "微软雅黑";color:#333;background:#fff;}
.left{float:left;display:inline;}
.right{float:right;display:inline;}
.w1300{width:1300px;}
.center{margin:0 auto;}
.martm24{margin:24px 0;}